<div class="card" >
    <div appHighlight="GhostWhite" class="card-body">
        <h5 class="card-title">{{cart.product.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">count: {{cart.count}}</h6>
        <p class="card-text">{{cart.product.description}}</p>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary" (click)="onAddProduct(cart.product)">Increase</button>
            <button type="button" class="btn btn-primary" (click)="onRemoveProduct(cart.product)">Decrease</button>
            <button type="button" class="btn btn-primary" (click)="onRemoveCart(cart)">Remove All</button>
        </div>
    </div>
</div>
