<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{product.name}} ({{category}})</h5>
        <h6 class="card-subtitle mb-2 text-muted">price: {{product.price | currency:'USD'}}</h6>
        <p class="card-text">{{product.description}}</p>
        <button
            type="button"
            class="btn btn-primary add-button"
            (click)="onAddProduct(product)"
            [disabled]="!product.isAvailable"
        >
            Add
        </button>
        <button *ngIf="authService.channel | async"
            type="button"
            class="btn btn-primary"
            routerLink="/admin/product/edit/{{product.id}}"
            [disabled]="!product.isAvailable"
        >
            edit
        </button>
    </div>
</div>
